body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.6s ease-in-out;
}

body.bg-ai {
  background-image: url("assets/bg-ai.jpg");
}

body.bg-aero {
  background-image: url("assets/bg-aero.jpg");
}

body.bg-mech {
  background-image: url("assets/bg-mech.jpg");
}



header {
  text-align: center;
  padding: 60px 20px;
  background: rgba(0, 0, 0, 0.6);
}

.experience {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

.experience img,
.experience video,
.experience iframe {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}

.experience h2 {
  margin-top: 0;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 80px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3.2rem;
  margin: 0 0 15px 0;
}

.hero h3 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

.hero-image {
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

