body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.6s ease-in-out;
}

body.bg-ai {
  background-image: url("assets/bg-ai.jpg");
}

body.bg-aero {
  background-image: url("assets/bg-aero.jpg");
}

body.bg-mech {
  background-image: url("assets/bg-mech.jpg");
}



header {
  text-align: center;
  padding: 60px 20px;
  background: rgba(0, 0, 0, 0.6);
}

.experience {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

.experience img,
.experience video,
.experience iframe {
  width: 60%;
  aspect-ratio: 16 / 9;
  height: auto;
  margin-top: 15px;
  border-radius: 8px;
}


.experience h2 {
  margin-top: 0;
}

.small-image {
  max-width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 80px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3.2rem;
  margin: 0 0 15px 0;
}

.hero h3 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

.hero-image {
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.hero-buttons button {
  padding: 16px 30px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.12);
  color: white;

  letter-spacing: 0.4px;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  position: relative;
}

/* AI — cool, intelligent, subtle glow */
.btn-ai {
  box-shadow: 0 0 0 rgba(80, 170, 255, 0);
  transition: all 0.3s ease;
}

.btn-ai:hover {
  background: rgba(42, 226, 208, 0.25);
  box-shadow: 0 0 25px rgba(16, 235, 221, 0.8),
              0 0 50px rgba(16, 235, 221, 0.4); 
}

/* Aerospace — high energy, altitude, exploration */
.btn-aero {
  box-shadow: 0 0 0 rgba(180, 120, 255, 0);
  transition: all 0.3s ease;
}

.btn-aero:hover {
  background: rgba(11, 57, 162, 0.8);
  box-shadow: 0 0 25px rgb(12, 20, 238), 
              0 0 50px rgb(166, 235, 241);
}

/* Mechanical — grounded, precise, industrial */
.btn-mech {
  box-shadow: 0 0 0 rgba(255, 180, 90, 0);
  transition: all 0.3s ease;
}

.btn-mech:hover {
  background: rgba(183, 105, 9, 0.3);
  box-shadow: 0 0 25px rgba(235, 147, 25, 0.8),
              0 0 50px rgba(235, 147, 25, 0.4);
}

/* Subtle lift on hover */
.hero-buttons button:hover {
  transform: translateY(-3px);
}
