body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.6s ease-in-out;
}

body.bg-ai {
  background-image: url("assets/bg-ai.jpg");
}

body.bg-aero {
  background-image: url("assets/bg-aero.jpg");
}

body.bg-mech {
  background-image: url("assets/bg-mech.jpg");
}



header {
  text-align: center;
  padding: 60px 20px;
  background: rgba(0, 0, 0, 0.6);
}

.experience {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

.experience img,
.experience video,
.experience iframe {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}

.experience h2 {
  margin-top: 0;
}
